@media screen and (max-width:640px) {
    .container {
        width: 375px;
        height: 812px;
        background-color: #FFFFFF;
    }
    .cabeza {
        width: 375px;
        height: 319px;
        background: rgb(152, 20, 239);
        background: linear-gradient(45deg, rgba(152, 20, 239, 1) 0%, rgba(239, 20, 181, 1) 100%, rgba(0, 212, 255, 1) 100%);
        position: fixed;
        border: #5887F9;
        box-shadow: 2px 2px 20px#707070;
    }
    .pestStart {
        /*pestaña de ña startup*/
        width: 161px;
        height: 65px;
        background-color: #A937F0;
        position: absolute;
        border-radius: 11px 0px 0px 0px;
        border: #707070 .1px solid;
    }
    .pestStart:hover {
        background-color: #FFFFFF;
        position: absolute;
        border-radius: 11px 0px 0px 0px;
        border: #707070 .1px solid;
    }
    .pestInver {
        width: 161px;
        height: 65px;
        background-color: #A937F0;
        position: absolute;
        border-radius: 0px 11px 0px 0px;
        border: #707070 .1px solid;
        left: 161px;
    }
    .pestInver:hover {
        background-color: #FFFFFF;
        position: absolute;
        border-radius: 0px 11px 0px 0px;
        border: #707070 .1px solid;
    }
    .pestInver p,
    .pestStart p {
        text-align: center;
        font-family: Segoe UI;
        font-size: 21px;
        color: #FFFFFF;
    }
    .pestInver p:hover,
    .pestStart p:hover {
        text-align: center;
        font-family: Segoe UI;
        font-size: 21px;
        color: #A937F0;
    }
    .formu {
        width: 322px;
        height: 430px;
        background-color: #FFFFFF;
        position: relative;
        border-radius: 11px;
        top: 213px;
        left: 20px;
        box-shadow: 0px 0px 7px #707070;
    }
    #email {
        width: 279px;
        height: 48px;
        top: 137px;
        left: 20px;
        border: #A937F0 1.5px solid;
        position: relative;
        font-family: arial;
        opacity: .5;
        color: #A937F0;
        font-size: 14px;
        border-radius: 24px;
        text-align: center;
    }
    #password {
        width: 279px;
        height: 48px;
        top: 170px;
        left: 20px;
        border: #A937F0 1.5px solid;
        position: relative;
        font-family: arial;
        opacity: .5;
        color: #A937F0;
        align-items: center;
        font-size: 14px;
        border-radius: 24px 24px 24px 24px;
        text-align: center;
    }
    #enviar {
        top: 203px;
        left: 20px;
        width: 279px;
        height: 48px;
        color: #ffff;
        border: #A937F0 1.5px solid;
        position: relative;
        font-family: Segoe UI;
        font-size: 14px;
        border-radius: 24px 24px 24px 24px;
        text-align: center;
        align-items: center;
        background-color: #A937F0;
    }
    #enviar:hover {
        background-color: #EF14B5;
        border: #EF14B5 1.5px solid;
    }
    .registrate {
        top: 720px;
        right: 0px;
        width: 100px;
        height: 14px;
        font-family: arial;
        color: #A937F0;
        position: absolute;
    }
    a:link {
        color: #A937F0;
    }
    a:hover {
        color: #EF14B5;
    }
}

@media screen and (max-width:1024px) and (min-width:640px) {}

@media screen and (min-width:1024px) {}