    .base {
        width: 375px;
    height: 812px;
    background-color: white;
    position: relative;
   
    }
    
    .base-cabecera {
        height: 319px;
        width: 375px;
        background: rgb(152, 20, 239);
        background: linear-gradient(45deg, rgba(152, 20, 239, 1) 0%, rgba(239, 20, 181, 1) 100%, rgba(0, 212, 255, 1) 100%);
        position: relative;
    }
    
    .formulario-borde1 {
        width: 161px;
        height: 65px;
        background-color: white;
        position: absolute;
        border-radius: 25px 0px 0px 0px;
       color: #BA37E5;
        border: #707070;
    }
    
    .formulario-borde2 {
        width: 161px;
        height: 65px;
        background-color: #A937F0;
        position: absolute;
        border-radius: 0px 25px 0px 0px;
        
        right: 0px;
    }
    
    .formulario {
        width: 322px;
        height: 430px;
        background-color: white;
        position: absolute;
        border:#707070;
        border-radius: 25px 25px 25px 25px;
        top: 190px;
        left: 25px;
        box-shadow:2px 1px 9px 0px #707070;
        ;
        
    }
    
    #email {
        top: 100px;
        left: 20px;
        border: #EF14B5 .5px solid;
        align-items: center;
        position: relative;
        width: 279px;
        height: 48px;
        border-radius: 25px 25px 25px 25px;
        text-align: center;
        color: #A937F0;
    }
    
    #password {
        top: 150px;
        left: 20px;
        border: #EF14B5 .5px solid;
        align-items: center;
        position: relative;
        width: 279px;
        height: 48px;
        border-radius: 25px 25px 25px 25px;
        text-align: center;
        color: #A937F0;
    }
    
    #boton {
        top: 190px;
        left: 20px;
        align-items: center;
        position: relative;
        width: 279px;
        height: 48px;
        border-radius: 25px 25px 25px 25px;
        background-color: rgb(152, 20, 239);
        color: #ffff;
        opacity: 0.6;
    }
    
    .formulario-borde1-startup{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }
    
    .formulario-borde2-inversionista {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: white;
    }

    .formulario-regresar{
      
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        position: relative;
        top: 320px;
        left: 250px;
        color: #AB37EF;
    }

    body{
        margin: 0%;
    }