    * {
        margin: 0px;
    }
    
    .container {
        display: grid;
        width: 375px;
        height: 812px;
        align-items: stretch;
        background-color: #FFFFFF;
        grid-template-columns: repeat(auto-fit, mimax(auto));
    }
    
    .cabeza {
        display: grid;
        width: 375px;
        height: 319px;
        background: rgb(152, 20, 239);
        background: linear-gradient(45deg, rgba(152, 20, 239, 1) 0%, rgba(239, 20, 181, 1) 100%, rgba(0, 212, 255, 1) 100%);
        border: #5887F9;
        box-shadow: 2px 2px 20px#707070;
    }
    
    .formu {
        display: grid;
        width: 322px;
        height: 430px;
        grid-template-columns: 50% 50%;
        box-shadow: 0px 0px 7px #707070;
        background-color: #FFFFFF;
        align-items: stretch;
        margin-left: 20px;
        margin-top: 213px;
        border-radius: 11px;
    }
    
    .pest1 {
        height: 65px;
        grid-column: 1/2;
        align-self: flex-start;
        background-color: #A937F0;
        border-radius: 11px 0px 0px 0px;
        border: #707070 .1px solid;
    }
    
    .pest1:hover {
        background-color: #FFFFFF;
        border-radius: 11px 0px 0px 0px;
        border: #707070 .1px solid;
    }
    
    .pest2 {
        height: 65px;
        grid-column: 2/3;
        align-self: flex-start;
        background-color: #A937F0;
        border-radius: 0px 11px 0px 0px;
        border: #707070 .1px solid;
    }
    
    .pest2:hover {
        background-color: #FFFFFF;
        border-radius: 0px 11px 0px 0px;
        border: #707070 .1px solid;
    }
    
    .pest1 p,
    .pest2 p {
        font-family: Segoe UI;
        text-align: center;
        font-size: 21px;
        color: #FFFFFF;
        margin-top: 17px;
    }
    
    .pest1 p:hover,
    .pest2 p:hover {
        margin-top: 17px;
        text-align: center;
        font-family: Segoe UI;
        font-size: 21px;
        color: #A937F0;
    }
    
    .registro {
        align-items: center;
        margin-left: inherit;
    }
    
    input {
        width: 279px;
        height: 48px;
        left: 20px;
        margin-top: 20px;
        border: #A937F0 1.5px solid;
        font-family: arial;
        color: #A937F0;
        font-size: 14px;
        border-radius: 24px;
        text-align: center;
        align-self: center;
    }
    
    #password,
    #email {
        opacity: .5;
    }
    
    #enviar {
        background-color: #A937F0;
        border: #A937F0 1.5px solid;
        color: rgb(255, 255, 255);
    }
    
    #enviar:hover {
        background-color: #EF14B5;
        border: #EF14B5 1.5px solid;
        color: rgb(255, 255, 255);
    }
    
    .registrate {
        height: 14px;
        font-family: arial;
        color: #A937F0;
        margin-top: 60px;
        margin-right: 20px;
        justify-self: right;
    }
    
    a:link {
        color: #A937F0;
    }
    
    a:hover {
        color: #EF14B5;
    }