.portada {
    width: 375px;
    height: 812px;
    background: linear-gradient(45deg, rgba(152, 20, 239, 1) 0%, rgba(239, 20, 181, 1) 100%, rgba(0, 212, 255, 1) 100%);
    position: relative;
  
}

img{
    width: 180px;
    height: 200px;
    position: relative;
    top:80px;
    left: 0px;
}

body{
    margin: 0%;
}